<div class="featured-container-flex">
<h2 class="block-heading">Featured Collections</h2>
  <div class="list-group list-group-striped" id="featured_works">

<%
=begin%>
  Item 1
<%
=end%>

    <div class="featured-item-block">
      <div class="featured-item-title">
        <div class="featured-image-header">
            <%= image_tag "Features/melbourne.jpg", alt: "Melbourne, Australia Project Center", class: "portrait" %>
        </div>
        <h2 class="featured-item-title">  
            <a href="/catalog?f%5Bcenter_sim%5D%5B%5D=Melbourne%2C+Australia+Project+Center+-+IQP&f%5Bmember_of_collection_ids_ssim%5D%5B%5D=iqp">MELBOURNE, AUSTRALIA PROJECT CENTER - IQP</a>
        </h2>
      </div>

      <div class="featured-field featured-item-description">
        Since 1998, over 1000 WPI students have conducted over 290 projects at the Melbourne Project Center, partnering with local government agencies, non-profits, and private enterprises in Melbourne and across the state of Victoria.
      </div>
      <h4>
          <a href="/catalog?f%5Bcenter_sim%5D%5B%5D=Melbourne%2C+Australia+Project+Center+-+IQP&f%5Bmember_of_collection_ids_ssim%5D%5B%5D=iqp">EXPLORE THE COLLECTION</a>
      </h4>
    </div> 

<%
=begin%>
  Item 2
<%
=end%>

    <div class="featured-item-block">
      <div class="featured-item-title">
        <div class="featured-image-header">
            <%= image_tag "Features/boz.jpg", alt: "Project Boz", class: "portrait" %>
        </div>
        <h2 class="featured-item-title">  
            <a href="/collections/boz">PROJECT BOZ</a>
        </h2>
      </div>

      <div class="featured-field featured-item-description">
        Project Boz presents English novelist Charles Dickens's novels in their original, serialized format, so the readers can experience the works as they were first presented to the world.
      </div>
      <h4>
          <a href="/collections/boz">EXPLORE THE COLLECTION</a>
      </h4>
    </div> 

<%
=begin%>
  Item 3
<%
=end%>

    <div class="featured-item-block">
      <div class="featured-item-title">
        <div class="featured-image-header">
            <%= image_tag "Features/historicalimages.jpg", alt: "WPI Historical Images", class: "portrait" %>
        </div>
        <h2 class="featured-item-title">  
            <a href="/collections/hi">WPI HISTORICAL IMAGES</a>
        </h2>
      </div>

      <div class="featured-field featured-item-description">
        The WPI Historical Image Collection documents the rich visual history and activities of WPI's student, faculty, staff, administrators, traditions, and buildings from the 1860s to the present. More than 9,000 photos are available.
      </div>
      <h4>
          <a href="/collections/hi">EXPLORE THE COLLECTION</a>
      </h4>
    </div> 

  </div>

  <div class="list-group list-group-striped" id="featured_works">

<%
=begin%>
  Item 4
<%
=end%>

    <div class="featured-item-block">
      <div class="featured-item-title">
        <div class="featured-image-header">
            <%= image_tag "Features/climate_lessons.jpg", alt: "Open Educational Resources Collection", class: "portrait" %>
        </div>
        <h2 class="featured-item-title">  
            <a href="/collections/jq085n82c">OPEN EDUCATIONAL RESOURCES COLLECTION</a>
        </h2>
      </div>

      <div class="featured-field featured-item-description">
        This collection contains selected Open Educational Resources (OER) created by WPI faculty, staff, and students. All have an open license that permits no-cost access, use, adaptation and redistribution by others.
      </div>
      <h4>
          <a href="/collections/jq085n82c">EXPLORE THE COLLECTION</a>
      </h4>
    </div> 

<%
=begin%>
  Item 5
<%
=end%>

    <div class="featured-item-block">
      <div class="featured-item-title">
        <div class="featured-image-header">
            <%= image_tag "Features/upubs.jpg", alt: "University Publications", class: "portrait" %>
        </div>
        <h2 class="featured-item-title">  
            <a href="/collections/upub">UNIVERSITY PUBLICATIONS</a>
        </h2>
      </div>

      <div class="featured-field featured-item-description">
        The University Publications collections includes campus newspapers, alumni magazines, institutional histories, and other publications produced by Worcester Polytechnic Institute (WPI) from its founding to the present.
      </div>
      <h4>
          <a href="/collections/upub">EXPLORE THE COLLECTION</a>
      </h4>
    </div> 

<%
=begin%>
  Item 6
<%
=end%>

    <div class="featured-item-block">
      <div class="featured-item-title">
        <div class="featured-image-header">
            <%= image_tag "Features/presidents.jpg", alt: "Presidents of WPI", class: "portrait" %>
        </div>
        <h2 class="featured-item-title">  
            <a href="https://exhibits.wpi.edu/spotlight/presidents">PRESIDENTS OF WPI</a>
        </h2>
      </div>

      <div class="featured-field featured-item-description">
        The Presidents of WPI digital exhibit illustrates the many ways that WPI remembers its presidents, their lives, and their contributions in service to the Institute.
      </div>
      <h4>
          <a href="https://exhibits.wpi.edu/spotlight/presidents">EXPLORE THE EXHIBIT</a>
      </h4>
    </div> 

  </div>

</div>