<div class="featured-container-flex">
<h2 class="block-heading">Featured Collections</h2>
  <div class="list-group list-group-striped" id="featured_works">

<%
=begin%>
  Item 1
<%
=end%>

    <div class="featured-item-block">
      <div class="featured-item-title">
        <div class="featured-image-header">
            <%= image_tag "Features/gps.jpg", alt: "Great Problems Seminar" %>
        </div>
        <h2 class="featured-item-title">  
            <a href="/collections/gps">GREAT PROBLEMS SEMINAR</a>
        </h2>
      </div>

      <div class="featured-field featured-item-description">
        The Great Problems Seminar immerses first-year students into interdisciplinary, project-based university-level research, focused on some of the world's most critical challenges.
      </div>
      <h4>
          <a href="/collections/gps">EXPLORE THE COLLECTION</a>
      </h4>
    </div> 

<%
=begin%>
  Item 2
<%
=end%>

    <div class="featured-item-block">
      <div class="featured-item-title">
        <div class="featured-image-header">
            <%= image_tag "Features/boz.jpg", alt: "Project Boz" %>
        </div>
        <h2 class="featured-item-title">  
            <a href="/collections/boz">PROJECT BOZ</a>
        </h2>
      </div>

      <div class="featured-field featured-item-description">
        Project Boz presents English novelist Charles Dickens's novels in their original, serialized format, so the readers can experience the works as they were first presented to the world.
      </div>
      <h4>
          <a href="/collections/boz">EXPLORE THE COLLECTION</a>
      </h4>
    </div> 

<%
=begin%>
  Item 3
<%
=end%>

    <div class="featured-item-block">
      <div class="featured-item-title">
        <div class="featured-image-header">
            <%= image_tag "Features/hi.jpg", alt: "WPI Historical Images" %>
        </div>
        <h2 class="featured-item-title">  
            <a href="/collections/hi">WPI HISTORICAL IMAGES</a>
        </h2>
      </div>

      <div class="featured-field featured-item-description">
        The WPI Historical Image Collection documents the rich visual history and activities of WPI's student, faculty, staff, administrators, traditions, and buildings from the 1860s to the present. More than 9,000 photos are available.
      </div>
      <h4>
          <a href="/collections/hi">EXPLORE THE COLLECTION</a>
      </h4>
    </div> 

  </div>

  <div class="list-group list-group-striped" id="featured_works">

<%
=begin%>
  Item 4
<%
=end%>

    <div class="featured-item-block">
      <div class="featured-item-title">
        <div class="featured-image-header">
            <%= image_tag "Features/ghana.jpg", alt: "Featured Project Center" %>
        </div>
        <h2 class="featured-item-title">  
            <a href="/catalog?f[center_sim][]=Kyebi%2C+Ghana+Project+Center+-+IQP">GHANA PROJECT CENTER: DEVELOPMENT DESIGN LAB</a>
        </h2>
      </div>

      <div class="featured-field featured-item-description">
        The Kyebi-based Ghana Project Center and Development Design Lab was established in 2020. Student projects conducted at the Center are sponsored by Okyenhene (the Okyeman King) and a local tribal chief from Dwenase, Ghana. The projects have focused on education, healthcare issues, and community infrastructure.
      </div>
      <h4>
          <a href="/catalog?f[center_sim][]=Kyebi%2C+Ghana+Project+Center+-+IQP">EXPLORE THE COLLECTION</a>
      </h4>
    </div> 

<%
=begin%>
  Item 5
<%
=end%>

    <div class="featured-item-block">
      <div class="featured-item-title">
        <div class="featured-image-header">
            <%= image_tag "Features/pubs3.jpg", alt: "University Publications", class: "portrait" %>
        </div>
        <h2 class="featured-item-title">  
            <a href="/collections/upub">UNIVERSITY PUBLICATIONS</a>
        </h2>
      </div>

      <div class="featured-field featured-item-description">
        The University Publications collections includes campus newspapers, alumni magazines, institutional histories, and other publications produced by Worcester Polytechnic Institute (WPI) from its founding to the present.
      </div>
      <h4>
          <a href="/collections/upub">EXPLORE THE COLLECTION</a>
      </h4>
    </div> 

<%
=begin%>
  Item 6
<%
=end%>

    <div class="featured-item-block">
      <div class="featured-item-title">
        <div class="featured-image-header">
            <%= image_tag "Features/fpe.jpg", alt: "Foundations of Fire Protection Engineering" %>
        </div>
        <h2 class="featured-item-title">  
            <a href="/collections/fpe">FOUNDATIONS OF FIRE PROTECTION ENGINEERING</a>
        </h2>
      </div>

      <div class="featured-field featured-item-description">
        The Foundations of Fire Protection Engineering collection comprises elements from faculty, alumni, and other contributors to the field of fire protection engineering from its inception through today.
      </div>
      <h4>
          <a href="/collections/fpe">EXPLORE THE COLLECTION</a>
      </h4>
    </div> 

  </div>

</div>