<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>    
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "slideshow/sl1.jpg" %>
     
      <div class="carousel-caption">
        <h3>UNDERGRADUATE STUDENT RESEARCH</h3>
        <p>Here's a description of this collection! Another sentence will help to fill up the space.</p>
      </div>
    </div>
    
    <div class="item ">
      <%= image_tag "slideshow/sl2.jpg" %>
     
      <div class="carousel-caption">
        <h3>GRADUATE STUDENT RESEARCH</h3>
        <p>Addressing some of the greatest challanges of our time, WPI graduate students are engaged in interdisciplinary, collaborative research across over 50 graduate programs in teh sciences, engineering, and business.</p>
      </div>
    </div>

    <div class="item ">
      <%= image_tag "slideshow/sl3.jpg" %>
     
      <div class="carousel-caption">
        <h3>WPI HISTORY</h3>
        <p>Examine items which document more than 150 years of campus life, academic achievement, cultural heritage, and innovation at Worcester Polytechnic Institute</p>
      </div>
    </div>  

    <div class="item">
      <%= image_tag "slideshow/sl4.jpg" %>
      <div class="carousel-caption">
        <h3>INDUSTRIAL HISTORY OF NEW ENGLAND</h3>
        <p>Discover material related to companies and individuals that propelled the region to the forefront of the American Industrial Revolution and century beyond.</p>
      </div>
    </div>

    <div class="item">
      <%= image_tag "slideshow/sl5.jpg" %>
      <div class="carousel-caption">
        <h3>WPI INNOVATION</h3>
        <p>As one of the nation's first technological universities and the modern global leader in Project-Based Learning, WPI's faculty, alumni, and students have advanced the limits of human understanding in several academic disciplines.</p>
      </div>
    </div>

    <div class="item">
      <%= image_tag "slideshow/sl6.jpg" %>
      <div class="carousel-caption">
        <h3>CHARLES DICKENS</h3>
        <p>Explore a wealth of digitized materials related to the life, world, and works of English author Charles Dickens. Included are letters, arts, various editions of his work, and other Victorian-era literature.</p>
      </div>
    </div>

  <!-- Left and right controls -->
<!--   <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a> -->
<!--   <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> -->
</div>
</div>