<!-- Adapted from jquery-flot examples https://github.com/flot/flot/blob/master/examples/visitors/index.html -->
<script>
//<![CDATA[
  var hyrax_item_stats = <%= raw json_escape @pageviews.to_flot.to_json %>;
//]]>
</script>
<% 
  default_start_date = Hyrax.config.analytics_start_date
  filters = {
    "All Time": default_start_date.to_s,
    "Last month": (Date.today - 1.month).to_s,
    "Last 3 months": (Date.today - 3.month).to_s,
    "Last 6 months": (Date.today - 6.month).to_s,
    "Last 1 year": (Date.today - 1.year).to_s
  }
  total_view = @pageviews.range(params[:start_date]&.to_date || default_start_date.to_date, params[:end_date]&.to_date || Time.zone.today)
  total_downloads = @downloads.range(params[:start_date]&.to_date || default_start_date.to_date, params[:end_date]&.to_date || Time.zone.today)
  view_label = "views"
  view_label = "view" if total_view == 1
  download_label = "downloads"
  download_label = "download" if total_downloads == 1
  range_label = "from #{params[:start_date]&.to_date || default_start_date.to_date} to #{params[:end_date]&.to_date || Time.zone.today}"
%>

<%= content_tag :h1, @document, class: "lower" %>

<div class="row">
  <div class="col-sm-12">
    <%= content_tag :h2, "#{t('.header')} - #{stats_filter_header(params[:start_date], filters)}" %>
    <%= render 'stats_filter', document: @work, form_path: stats_work_path(@work), filters: filters %>
    <div class="alert alert-info">
      <span class="glyphicon glyphicon-signal large-icon"></span>
      <%= content_tag :strong, total_view %> <%= view_label %> and <%= content_tag :strong, total_downloads %> <%= download_label %> <%= range_label %>
      <% if total_downloads == 0 %>
        <br/>
        Note: <%= t('hyrax.stats.work.download_stats.message', :download_start_date => @default_download_start_date) %>
      <% end %>
    </div>
    <% if total_view > 0 %>
      <div class="stats-container">
        <h3 class="text-center"><%= t('.pageviews') %></h3>
        <div id="pageviews">
          <%= render 'pageviews' %>
        </div>
      </div>
    <% end %>

    <% if total_downloads > 0 %>
      <div class="stats-container">
        <h3 class="text-center"><%= t('.downloads') %></h3>
        <div id="downloads">
          <!-- There is an extra closing div in downloads -->
          <div><%= render 'downloads' %>
          <div><%= t('hyrax.stats.work.download_stats.message', :download_start_date => @default_download_start_date) %></div>
      </div>
    <% end %>

  </div>
</div>