<div class="hy-slider">
  <div class="hy-slide-container">
    <div class="hy-slide">
        <%= image_tag "collections/1.jpg" %>
    </div>
    <div class="hy-slide">
        <%= image_tag "collections/2.jpg" %>
    </div>
    <div class="hy-slide">
        <%= image_tag "collections/3.jpg" %>
    </div>
    <div class="hy-slide">
        <%= image_tag "collections/4.jpg" %>
    </div>
    <div class="hy-slide">
        <%= image_tag "collections/5.jpg" %>
    </div>
    <div class="hy-slide">
        <%= image_tag "collections/6.jpg" %>
    </div>
    <div class="hy-slide">
        <%= image_tag "collections/1.jpg" %>
    </div>
    <div class="hy-slide">
        <%= image_tag "collections/2.jpg" %>
    </div>
    <div class="hy-slide">
        <%= image_tag "collections/3.jpg" %>
    </div>
  </div>
</div>