<div class="hy-slider">
  <div class="hy-slide-container">
    <div class="hy-slide">
        <%= image_tag "projectcenters/CostaRica.jpg" %>
    </div>
    <div class="hy-slide">
        <%= image_tag "projectcenters/Denmark.jpg" %>
    </div>
    <div class="hy-slide">
        <%= image_tag "projectcenters/India.jpg" %>
    </div>
    <div class="hy-slide">
        <%= image_tag "projectcenters/Morocco.jpg" %>
    </div>
    <div class="hy-slide">
        <%= image_tag "projectcenters/Switzerland.jpg" %>
    </div>
    <div class="hy-slide">
        <%= image_tag "projectcenters/Thailand.jpg" %>
    </div>
    <div class="hy-slide">
        <%= image_tag "projectcenters/CostaRica.jpg" %>
    </div>
    <div class="hy-slide">
        <%= image_tag "projectcenters/Denmark.jpg" %>
    </div>
    <div class="hy-slide">
        <%= image_tag "projectcenters/India.jpg" %>
    </div>
  </div>
</div>