<script>
    $(function () {

      console.log('self-invoked function fired');

    $('.nav-stacked, .returnlink').on('click', '.post', function (e) {
        var data_id = $(this).data('id');
        console.log(data_id);
        e.preventDefault();
        $('html, body').animate({
            scrollTop: $('#' + data_id).offset().top
          }, 'slow');   
    });

  });
</script>

<div id="info-top">
  <div class="container">
    <div class="row">
      <nav class="col-sm-3">
        <ul class="nav nav-pills nav-stacked">
            <div class="post" data-id="content-one">
                <h3>Overview</h3>
            </div>
            <div class="post" data-id="content-two">
                <h3>Project Team</h3>
            </div>
            <div class="post" data-id="content-three">
                <h3>FAQ</h3>
            </div>
            <div class="post" data-id="content-four">
                <h3>Policies</h3>
            </div>
        </ul>
      </nav>
      <div class="col-sm-9">
        <div class="information" id="content-one">
          <h1>Overview</h1>
            <h4>Digital WPI is an open access repository sharing digital resources unique to WPI and:</h4>
            <ul>
                <li>Enhances the global availability and persistence of these unique contributions and resources</li>
                <li>Enables future research and teaching</li>
                <li>Reflects and enhances the reputation and visibility of WPI's unique culture, interdisciplinary practices, and global impact</li>
            </ul>
            
           <h4>Digital WPI includes:</h4>
            <ul>
                <li>Creative and research products of our community such as undergraduate and graduate student projects and research</li>
                <li>Records and artifacts reflecting WPI's institutional history and culture, such as historic photographs, yearbooks, and manuscripts</li>
                <li>Cultural and intellectual resources curated by WPI, such as diaries and manuscripts of engineers at WPI, and rare publications of Charles Dickens</li>
            </ul>
        </div>
        <div class="returnlink" style="text-align:right;padding:15px;padding-bottom:0px; margin-top:40px;margin-bottom:40px;border-bottom:2px solid rgb(172, 42, 55);">
            <span class="post" data-id="info-top">Return to Top</span>
        </div>
        <div class="information" id="content-two">
            <h1>Project Team</h1>
            <p>Digital WPI is jointly managed by the Gordon Library and by the Web Applications Development group in Information Technology.</p>
            <p>The Library is responsible for Digital WPI content selection and curation, including digitization and submission; metadata, discovery, and analytics; and user experience.</p>
            <p>Information Technology is responsible for Digital WPI's technical implementation, authentication, security, and integration with other WPI systems and workflows as part of our digital campus ecosystem.</p>
            <ul>
                <li>Ermal Toto, Director for Science Data, Applications and Web Development (Steering Committee)</li>
                <li>Lori Ostapowicz Critz, Associate Director, Scholarly Communication & Open Strategies, Gordon Library (Steering Committee)</li>
                <li>Anna Gold, University Librarian, Gordon Library (Steering Committee)</li>
                <li>Derek Murphy, Web Applications Developer II, Information Technology Services</li>
                <li>Emily Ping O'Brien, Head of Archives & Special Collections and Digital Collections Librarian, Gordon Library</li>
            </ul>
            <p>Previous contributors and team members:</p>
            <ul>
                <li>Aaron Neslin, Digital Academic Strategies and Metadata Librarian, Gordon Library (2018-2019)</li>
                <li>Alfred Scott, Systems Developer, Information Technology (2018-2019)</li>
                <li>Andy Whalen, Web Applications Developer, Information Technology (2020-2021)</li>
                <li>Anna Newman, Digital Academic Strategies Librarian, Gordon Library(2018-2019)</li>
                <li>Antoine Harrison, Deputy Chief Information Officer, Information Technology (Steering Committee) (2021-2022)</li>
                <li>Arthur Carlson, University Archivist and Assistant Director, Archives & Special Collections, Gordon Library (2018-2024)</li>
                <li>Bob Brown, Director, Web Applications Development group, Information Technology (2018-2020)</li>
                <li>Jayanth (Jay) Dungavath, Library Application Developer, Information Technology (2018-2020)</li>
                <li>Patty Patria, VP, Information Technology CIO, Information Technology (Steering Committee) (2018-2022)</li>
                <li>Zhimin Chen, Librarian for Core Systems and Digital Repository Administration, Gordon Library (2020-2022)</li>
            </ul>
        </div>
        <div class="returnlink" style="text-align:right;padding:15px;padding-bottom:0px; margin-top:40px;margin-bottom:40px;border-bottom:2px solid rgb(172, 42, 55);">
                <span class="post" data-id="info-top">Return to Top</span>
        </div>
        <div class="information" id="content-three">
            <h1>FAQ</h1>
            <div class="questions">
                <p><strong>Is every WPI student project and dissertation in Digital WPI?</strong></p>
                <p>No, at this time the Digital WPI repository only includes graduate theses and dissertations since 2003, and undergraduate IQPs, MQPs, and GPS posters since 2007. Graduate theses and dissertations before 2003 can be found in the library in print. Undergraduate IQPs and MQPs before 2007 are only selectively available: the library digitized print copies of IQPs and MQPs from 2002-2007, but most earlier IQPs and MQPs were returned to the departments and may not have been retained. A few IQPs and MQPs are available in print in the library's Archives.</p>
            </div>
            <div class="questions">
                    <p><strong>Why can't I see the full text of a specific student project, thesis, or dissertation?</strong></p>
                    <p>Full-text access to some student projects is restricted to the WPI community, usually because the project was digitized before WPI began requiring digital submission of projects. If you are interested in accessing a project that is restricted to the WPI community, please contact <%= mail_to "digitalwpi@wpi.edu" %>.</p>
                    <p>WPI users can view embargoed works that are restricted to the WPI community by logging in to Digital WPI with their WPI central login. Login by selecting the "Login" link at the top right corner of Digital WPI, or navigate to <%= link_to("https://digital.wpi.edu/login", "https://digital.wpi.edu/login") %>.</p>
                    <p>For some projects, theses, and dissertations, concerns about confidentiality or intellectual property have led the author and their advisor to choose to restrict access to the full text, for a limited period of time of up to 5 years (embargo). The date the material will be made fully available is provided. If you are interested in accessing a student work that is embargoed, please contact <%= mail_to "digitalwpi@wpi.edu" %>.</p>
                    <p>If you have questions about the availability of student work that you don't find in Digital WPI, please contact us at <%= mail_to "digitalwpi@wpi.edu" %>.</p>
            </div>
            <div class="questions">
                    <p><strong>How do I extend an embargo on my thesis/dissertation/IQP/MQP that is currently in Digital WPI?</strong></p>
                    <p>For graduate research, the decision to extend an embargo resides with advisors, departments, and the Office of Graduate Studies. Contact the <%= link_to "Office of Graduate Studies", "https://www.wpi.edu/academics/graduate" %> with your request.</p>
                    <p>For undergraduate research, the decision to extend an embargo resides with advisors, departments, and the Office of Undergraduate Studies. Contact the <%= link_to "Office of Undergraduate Studies", "https://www.wpi.edu/academics/undergraduate" %> with your request.</p>
            </div>
            <div class="questions">
                <p><strong>How do I ask Digital WPI to change my published name or other content for privacy or confidentiality reasons?</strong></p>
                <p>Any author, advisor, or contributor to a work published in Digital WPI may request that the library revise the form of their name as it appears in the metadata (description) of a work or works. They may also request changes or corrections to other metadata or descriptors. To request such changes, please contact the Digital WPI team, <%= mail_to "digitalwpi@wpi.edu" %>.</p>
                <p>For changes needed in the content of undergraduate student works published in Digital WPI to address personal privacy and confidentiality (such as changing a published name to lived name), please contact the Digital WPI team, <%= mail_to "digitalwpi@wpi.edu" %>. More detail on the process for making these requests is available from the library. For undergraduate projects, please see <%= link_to "our policy for privacy and name changes", "https://libguides.wpi.edu/c.php?g=1062176&p=9720255#privacy"%>.</p>
            </div>
            <div class="questions">
                    <p><strong>Does Digital WPI have a policy for removing content?</strong></p>
                    <p>To make a take-down request, please contact <%= mail_to "digitalwpi@wpi.edu" %>. Each request will be evaluated on a case-by-case basis, with due consideration of WPI policies and U.S. copyright law.</p>
            </div>
            <div class="questions">
                    <p><strong>How do I get permission to use a resource from Digital WPI in another publication, on another website, or elsewhere?</strong></p>
                    <p>Look for the copyright or rights statement associated with the resource for guidance on how you can reuse an item. If there is a Creative Commons license associated with the resource, you may use the resource according to the terms of the license. Commercial use is generally prohibited. For questions about specific resources, contact <%= mail_to "digitalwpi@wpi.edu" %>.</p>
            </div>
            <div class="questions">
                    <p><strong>Does Digital WPI provide high quality prints of images in its collections?</strong></p>
                    <p>To request scans and digital files, please contact <%= mail_to "digitalwpi@wpi.edu" %> or visit the "<%= link_to "digitization", "https://www.wpi.edu/library/archives-special-collections/about/policies" %>" section of our Archives & Special Collections policies.</p>
            </div>
            <div class="questions">
                    <p><strong>What platform does Digital WPI use?</strong></p>
                    <p>Digital WPI uses <%= link_to "Hyrax", "https://hyrax.samvera.org/about/" %>, a community-supported repository front end that uses the Samvera framework, built on top of the Fedora repository for digital asset management and using Apache Solr for searching and indexing. </p>
            </div>
            <div class="questions">
                    <p><strong>When did this project start?</strong></p>
                    <p>Development work on the current Digital WPI platform began in 2018. This version of Digital WPI using the Hyrax platform replaces several older digital platforms. Data from these older platforms is being migrated to Digital WPI.</p>
            </div>
            <div class="questions">
                    <p><strong>Are citations generated by Digital WPI accurate?</strong></p>
                    <p>Three citation styles are available in the repository: APA, Chicago, and MLA. The citation generator in Digital WPI is meant to serve as a guide for users. The information for the citation is pulled automatically from the metadata in the repository record; however, because this process is automated, the citation could still contain errors. We recommend that users check the style format of the generated citation and if any information is missing, reference the metadata available in the record to correct or complete the citation.</p>
            </div>

        </div>
        <div class="returnlink" style="text-align:right;padding:15px;padding-bottom:0px; margin-top:40px;margin-bottom:40px;border-bottom:2px solid rgb(172, 42, 55);">
                <span class="post" data-id="info-top">Return to Top</span>
        </div>
        <div class="information" id="content-four">
            <h1>Policies</h1>
            <p>Digital WPI follows and implements relevant <%= link_to "university policies", "https://www.wpi.edu/about/policies" %> developed and implemented at WPI, by <%= link_to "IT", "https://its.wpi.edu/article/139/it-policies-standards-and-procedures" %>, or by the <%= link_to "Library", "https://www.wpi.edu/library/about/policies" %>.</p>
            <p>Among the policies most relevant to Digital WPI and its use are:</p>
            <ul>
                <li><%= link_to "Acceptable Use (computing resources)", "https://www.wpi.edu/about/policies/acceptable-use" %></li>
                <li><%= link_to "Archives (digitization and reproduction)", "https://www.wpi.edu/library/archives-special-collections/about/policies" %></li>
                <li><%= link_to "Copyright (ownership and compliance)", "https://www.wpi.edu/about/policies/copyright-compliance" %></li>
                <li><%= link_to "Personal privacy, confidentiality, and name changes in Digital WPI", "https://www.wpi.edu/library/about/policies" %></li>
                <li><%= link_to "Submission of theses and dissertations", "http://libguides.wpi.edu/c.php?g=882677&p=6343697" %></li>
                <li><%= link_to "Web accessibility", "https://www.wpi.edu/academics/faculty/disability-services/accessibility-guidelines-resources" %></li>
            </ul>
            <p>For policy questions not addressed by these links, please email <%= mail_to "digitalwpi@wpi.edu" %>.</p>
        </div>
        <div class="returnlink" style="text-align:right;padding:15px;padding-bottom:0px; margin-top:40px;margin-bottom:40px;border-bottom:2px solid rgb(172, 42, 55);">
                <span class="post" data-id="info-top">Return to Top</span>
        </div>    
      </div> <!-- End of content section -->

      
    </div>
  </div>
</div>
