<h2 class="block-heading">Collections</h2>

<%= render 'col_slider' %>

<div id="search-results" class="facets sidenav">

  <div class="panel panel-default">
    <div class="collapse-toggle panel-heading collapsed" aria-expanded="false" data-toggle="collapse" data-target="#undergraduate">
      <h3 class="panel-title facet-field-heading">
        <a data-turbolinks="false" data-no-turbolink="true" href="#">Undergraduate Projects and Research</a>
      </h3>
    </div>
    <div id="undergraduate" class="panel-collapse facet-content collapse" aria-expanded="false" style="">
      <div class="panel-body">
        <ul class="facet-values list-unstyled">
          <li><span class="facet-label"><a href="/collections/gps">Great Problems Seminar Posters</a></span></li>
          <li><span class="facet-label"><a href="/collections/iqp">Interactive Qualifying Projects</a></span></li>
          <li><span class="facet-label"><a href="/collections/mqp">Major Qualifying Projects</a></span></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="collapse-toggle panel-heading collapsed" aria-expanded="false" data-toggle="collapse" data-target="#graduate">
      <h3 class="panel-title facet-field-heading">
        <a data-turbolinks="false" data-no-turbolink="true" href="#">Graduate Theses, Dissertations, and Projects</a>
      </h3>
    </div>
    <div id="graduate" class="panel-collapse facet-content collapse" aria-expanded="false" style="">
      <div class="panel-body">
        <ul class="facet-values list-unstyled">
          <li><span class="facet-label"><a href="/collections/thesis">Masters Theses</a></span></li>
          <li><span class="facet-label"><a href="/collections/masters_report">Masters Reports</a></span></li>
          <li><span class="facet-label"><a href="/collections/dissertation">PhD Dissertations</a></span></li>
          <li><span class="facet-label"><a href="/collections/phd_report">PhD Reports</a></span></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="collapse-toggle panel-heading collapsed" aria-expanded="false" data-toggle="collapse" data-target="#faculty">
      <h3 class="panel-title facet-field-heading">
        <a data-turbolinks="false" data-no-turbolink="true" href="#">Faculty Research and Creative Work</a>
      </h3>
    </div>
    <div id="faculty" class="panel-collapse facet-content collapse" aria-expanded="false" style="">
      <div class="panel-body">
        <ul class="facet-values list-unstyled">
          <li><span class="facet-label"><a href="/collections/gpsrs">Great Problems Seminar - Research and Scholarship</a></span></li>
          <li><span class="facet-label"><a href="/collections/jq085n82c">Open Educational Resources Collection - Research and Scholarship</a></span></li>
          <li><span class="facet-label"><a href="https://digitalcommons.wpi.edu/oa/">Organizational Aesthetics</a></span></li>
          <li><span class="facet-label"><a href="/collections/pblrs">Project-Based Learning – Research and Scholarship</a></span></li>
          <li><span class="facet-label"><a href="/collections/summits">The Summits of Modern Man</a></span></li>
          <li><span class="facet-label"><a href="/collections/frs">WPI Faculty Research and Scholarship</a></span></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="collapse-toggle panel-heading collapsed" aria-expanded="false" data-toggle="collapse" data-target="#archives">
      <h3 class="panel-title facet-field-heading">
        <a data-turbolinks="false" data-no-turbolink="true" href="#">WPI Archives and History</a>
      </h3>
    </div>
    <div id="archives" class="panel-collapse facet-content collapse" aria-expanded="false" style="">
      <div class="panel-body">
        <ul class="facet-values list-unstyled">
          <li><span class="facet-label"><a href="/collections/44558h488">Student Organizations and Clubs</a></span></li>
          <li><span class="facet-label"><a href="/collections/upub">University Publications</a></span></li>
          <li><span class="facet-label"><a href="/collections/hi">WPI Historical Images</a></span></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="collapse-toggle panel-heading collapsed" aria-expanded="false" data-toggle="collapse" data-target="#special">
      <h3 class="panel-title facet-field-heading">
        <a data-turbolinks="false" data-no-turbolink="true" href="#">Special Collections and Manuscripts</a>
      </h3>
    </div>
    <div id="special" class="panel-collapse facet-content collapse" aria-expanded="false" style="">
      <div class="panel-body">
        <ul class="facet-values list-unstyled">
          <li><span class="facet-label"><a href="/collections/p5547v039">Foundations of Fire Protection Engineering</a></span></li>
          <li><span class="facet-label"><a href="/collections/sq87bv394">Project Boz</a></span></li>
          <li><span class="facet-label"><a href="/collections/3x816q79g">Theo Brown Diaries</a></span></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="collapse-toggle panel-heading collapsed" aria-expanded="false" data-toggle="collapse" data-target="#exhibits">
      <h3 class="panel-title facet-field-heading">
        <a data-turbolinks="false" data-no-turbolink="true" href="#">Exhibits</a>
      </h3>
    </div>
    <div id="exhibits" class="panel-collapse facet-content collapse" aria-expanded="false" style="">
      <div class="panel-body">
        <ul class="facet-values list-unstyled">
          <li><span class="facet-label"><a href="<%= ENV['EXHIBITS_HOST_URL'] %>">Digital Exhibits Homepage</a></span></li>
          <li><span class="facet-label"><a href="<%= ENV['EXHIBITS_HOST_URL'] %>/spotlight/pearsall">Featured Exhibit: A Life Unfolded: The Duane D. Pearsall papers</a></span></li>
          <li><span class="facet-label"><a href="<%= ENV['EXHIBITS_HOST_URL'] %>/spotlight/illustrating-dickens">Featured Exhibit: Illustrating Dickens' World</a></span></li>
          <li><span class="facet-label"><a href="<%= ENV['EXHIBITS_HOST_URL'] %>/spotlight/tony-king">Featured Exhibit: Reflections of Tony</a></span></li>
        </ul>
      </div>
    </div>
  </div>
  
</div>
