<div class="work-reports-filters">
  <span><b>Filters:</b></span>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <%= params[:center_tesim].presence || "All Project Centers" %>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><%= link_to "All Project Centers", admin_analytics_work_reports_path(member_of_collection_ids_ssim: params[:member_of_collection_ids_ssim])%></li>
      <% @project_centers.each do |center|%>
        <li><%= link_to center, admin_analytics_work_reports_path(member_of_collection_ids_ssim: params[:member_of_collection_ids_ssim], center_tesim: center)%></li>
      <% end %>
    </ul>
  </div>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <%= params[:member_of_collection_ids_ssim].present? ? Collection.find(params[:member_of_collection_ids_ssim]).title[0] : "All Collections" %>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><%= link_to "All Collections", admin_analytics_work_reports_path(center_tesim: params[:center_tesim])%></li>
      <% Collection.all.each do |collection|%>
        <li><%= link_to collection.title[0], admin_analytics_work_reports_path(member_of_collection_ids_ssim: collection.id, center_tesim: params[:center_tesim])%></li>
      <% end %>
    </ul>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
   <h4><%= t('.top_works') %>
      <div class="btn-group pull-right">
        <%= link_to "#{t('.export')}", admin_analytics_work_reports_path(start_date: @start_date, end_date: @end_date, center_tesim: params[:center_tesim], format: :csv, disposition: "attachment"), class: "btn btn-default" %>
      </div>
  </h4>
  </div>

  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= t('.work_title')%></th>
          <th>ID</th>
          <th><%= t('.work_views')%></th>
          <th><%= t('.file_downloads')%></th>
        </tr>
      </thead>
      <tbody>
        <% @top_works.each do |work| %>
            <tr>
              <td><%= link_to work[1], admin_analytics_work_report_path(work[0]) %></td>
              <td><%= work[0] %></td>
              <td><%= work[2] %></td>
              <td><%= work[3] %></td>
            </tr>       
        <% end %>
      </tbody>
    </table>
  </div>
  

  <div class="panel-footer">
    <div class="pull-right">
      <%= paginate @top_works %>
    </div>
  </div>

</div>