<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>" prefix="og:http://ogp.me/ns#">
  <head>
    <%= render partial: 'layouts/head_tag_content' %>
    <%= content_for(:head) %>

    <!-- Matomo -->
    <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="<%= Hyrax::Analytics.config.base_url %>";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '<%= Hyrax::Analytics.config.site_id %>']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->

  </head>

  <body>
    <div class="skip-to-content">
      <%= link_to "Skip to Content", "#skip-to-content" %>
    </div>
    <%= content_for(:navbar) %>
    <%#Jimmy comment out the big images in homepage %>
    <%#
    <%= render 'shared/slider' if controller_name == 'homepage' %>
    <%= content_for(:precontainer_content) %>
    
    <% if controller_name=='homepage' %>
    <div id="content-wrapper" class="featured-container" role="main">
    <% else %>
    <div id="content-wrapper" class="container" role="main">
    <% end %>

      <%= render '/flash_msg' %>
      <%= render_breadcrumbs builder: Hyrax::BootstrapBreadcrumbsBuilder %>
      <% if content_for?(:page_header) %>
        <div class="row">
          <div class="col-xs-12 main-header">
            <%= yield(:page_header) %>
          </div>
        </div>
      <% end %>
        <a name="skip-to-content" id="skip-to-content"></a>
        <%= content_for?(:content) ? yield(:content) : yield %>
        <%= render partial: '/permalink' %>

    </div><!-- /#content-wrapper -->
    <%= render 'shared/footer' %>
    <%= render 'shared/ajax_modal' %>
  </body>
</html>
